<style>
  a{
    color: orange;
  }
</style>
<footer class="page-footer font-small bg-light pt-4" >
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">MANAGE</h5>
          <p>Good management is the art of making problems so interesting and their solutions so constructive that everyone wants to get to work and deal with them.</p>
          <p>- Paul Hawken</p>
  
        </div>
  
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a routerLink="/tasks">Tasks</a>
            </li>
            <li>
              <a routerLink="/reports">Reports</a>
            </li>
          </ul>
  
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
  
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a routerLink="/todo">To-Do</a>
            </li>
            <li>
              <a routerLink="/">Back to top</a>
            </li>
          </ul>
  
        </div>
  
      </div>
  
    </div>
    <div class="footer-copyright text-center py-3">
      <span>MANAGE © 2019 Copyright</span>
    </div>
  </footer>
