<div class="main">


    <div class="container">

        <div class="middle">
            <div id="login">

                <form>

                    <fieldset class="clearfix">

                        <p><span class="fa fa-user"></span><input type="text" id="userNAME" Placeholder="Username"
                                required></p>
                        <p><span class="fa fa-lock"></span><input type="password" id="userPASSWORD" Placeholder="Password"
                                required>
                        </p>
                        <a href="#" style="color: white;">Forgot password?</a>

                        <div>
                            <button type="submit" class="btn btn-lg btn-outline-light"
                                style="float: right;" (click)=authentication()>Login</button>
                        </div>

                    </fieldset>
                   
                </form>


            </div> <!-- end login -->
            <div class="logo">MANAGE
            </div>

        </div>

    </div>

</div>