<div class="main">


    <div class="container">

        <div class="middle">
            <div id="login">

                <form>

                    <fieldset class="clearfix">

                        <p><span class="fa fa-user"></span><input type="text" Placeholder="Username" required></p>
                        <p><span class="fa fa-lock"></span><input type="password" Placeholder="Password" required>
                        </p>

                        <div>
                            <button type="submit" class="btn btn-lg btn-outline-light" style="float: right;">LogIN</button>
                        </div>

                    </fieldset>
                    <div class="clearfix"></div>
                </form>

                <div class="clearfix"></div>

            </div> <!-- end login -->
            <div class="logo">MANAGE

                <div class="clearfix"></div>
            </div>

        </div>

    </div>

</div>