<div class="main">


    <div class="container">

        <div class="middle">
            <div id="login">

                <form>

                    <fieldset class="clearfix">

                        <p><span class="fa fa-user"></span><input type="text" Placeholder="Username"
                                required></p>
                        <p><span class="fa fa-lock"></span><input type="password" Placeholder="Password"
                                required>
                        </p>
                        <a href="#" style="color: white;">Forgot password?</a>

                        <div>
                            <button type="submit" class="btn btn-lg btn-outline-light"
                                style="float: right;">LogIN</button>
                        </div>

                    </fieldset>
                   
                </form>


            </div> <!-- end login -->
            <div class="logo">MANAGE
                <div class="social-btn text-center" style="margin-top: -50px;">
                    <a href="#" class="btn btn-primary btn-lg" title="Facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="btn btn-info btn-lg" title="Twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="btn btn-danger btn-lg" title="Google"><i class="fab fa-google"></i></a>
                </div>
            </div>

        </div>

    </div>

</div>