<div class="row" style="margin-top: 40px;margin-left: 40px;">
  <div class="column" *ngFor="let user of userArray">
    <div class="card">
      <img src="/assets/avatar.png" alt="Jane">
      <div class="container">
        <h4>{{user.fullname}} </h4>
        <p class="title">{{user.designation}}</p>
        <small><strong>Project - </strong><span class="badge badge-warning">{{user.projectAssigned}}</span></small>
        <p>Expertise : {{user.technologies}}</p>
        <p>{{user.email}}</p>
        <p>{{user.phonenumber}}
          <button class="btn btn-sm btn-dark" id="delEmpBtn" data-toggle="modal"
            data-target="#deleteConfirmationModal" (click)=setDetailsForModal(user)> {{ 'employees.button_13'| translate}} </button>
          <button class="btn btn-sm btn-warning" id="editEmpBtn" data-toggle="modal"
            data-target="#editEmployee" (click)=setDetailsForModal(user)>Edit</button>
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">

      <div class="container">
        <button class="btn" title="Add new task" data-toggle="modal" data-target="#addEmployee" id="addEmpBtn"><i
            class="fas fa-plus-circle" id="addEmp"></i></button>
      </div>
    </div>
  </div>
</div>



<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployee" tabindex="-1" role="dialog" aria-labelledby="addEmployeeLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="modalHeader">
        <h5 class="modal-title">{{'employees.h5-42' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="text-center border p-5" [formGroup]="addEmployeeForm">


          <div class="form-row mb-4">
            <div class="col">

              <!-- First name -->
              <input type="text" id="FirstName" class="form-control" placeholder="{{'employees.placeholder_55' | translate}}"
                formControlName="firstNameValidator" [class.is-invalid]="getFirstName.invalid && getFirstName.touched">
              <small class="form-text text-muted ">
                {{'employees.small_58' | translate}}
              </small>
              <div *ngIf="getFirstName.invalid && (getFirstName.touched || getFirstName.dirty)">
                <small *ngIf="getFirstName.errors?.required" class="text-danger">
                  {{'employees.small_62' | translate}}
                </small>
                <small *ngIf="getFirstName.errors?.minlength" class="text-danger">
                  {{'employees.small_65' | translate}}
                </small>
                <small *ngIf="getFirstName.errors?.pattern" class="text-danger">
                  {{'employees.small_68' | translate}}
                </small>

              </div>
            </div>
            <div class="col">
              <!-- Last name -->
              <input type="text" id="LastName" class="form-control" placeholder="{{'employees.placeholder_75' | translate}}"
                formControlName="lastNameValidator" [class.is-invalid]="getLastName.invalid && getLastName.touched">
              <small class="form-text text-muted ">
                {{'employees.small_78' | translate}}
              </small>
              <div *ngIf="getLastName.invalid && (getLastName.touched || getLastName.dirty)">
                <small *ngIf="getLastName.errors?.required" class="text-danger">
                  {{'employees.small_82' | translate}}
                </small>
                <small *ngIf="getLastName.errors?.minlength" class="text-danger">
                  {{'employees.small_85' | translate}}
                </small>
                <small *ngIf="getLastName.errors?.pattern" class="text-danger">
                  {{'employees.small_88' | translate}}
                </small>

              </div>
            </div>
          </div>

          <!-- E-mail -->
          <input type="email" id="Email" class="form-control " placeholder="E-mail" formControlName="emailValidator"
            [class.is-invalid]="getEmail.invalid && getEmail.touched">
          <small class="form-text text-muted mb-4">
            {{'employees.small_99'| translate}}
          </small>
          <div *ngIf="getEmail.invalid && (getEmail.touched || getEmail.dirty)">
            <small *ngIf="getEmail.errors?.required" class="text-danger">
              {{'employees.small_103' | translate}}
            </small>
            <small *ngIf="getEmail.errors?.pattern" class="text-danger">
              {{'employees.small_106' | translate}}
            </small>

          </div>

          <!-- ROLE -->
          <input type="text" id="Designation" class="form-control " placeholder="{{'employees.placeholder_112' | translate}}"
            formControlName="designationValidator"
            [class.is-invalid]="getDesignation.invalid && getDesignation.touched">
          <small class="form-text text-muted mb-4">
            {{'employees.small_116' | translate}}
          </small>
          <div *ngIf="getDesignation.invalid && (getDesignation.touched || getDesignation.dirty)">
            <small *ngIf="getDesignation.errors?.required" class="text-danger">
            {{'employees.small_120' | translate}}
            </small>
            <small *ngIf="getDesignation.errors?.pattern" class="text-danger">
              {{'employees.small_123' | translate}}
            </small>

          </div>

          <!-- Phone number -->
          <input type="tel" id="PhoneNumber" class="form-control " placeholder="{{'employees.placeholder_129' | translate}}"
            aria-describedby="PhoneHelpBlock" maxlength="10" formControlName="phoneNumberValidator"
            [class.is-invalid]="getPhoneNumber.invalid && getPhoneNumber.touched">
          <small class="form-text text-muted mb-4">
            {{'employees.small_133' | translate}}
          </small>
          <div *ngIf="getPhoneNumber.invalid && (getPhoneNumber.touched || getPhoneNumber.dirty)">
            <small *ngIf="getPhoneNumber.errors?.required" class="text-danger">
            {{'employees.small_137' | translate}}
            </small>
            <small *ngIf="getPhoneNumber.errors?.minlength" class="text-danger">
              {{'employees.small_140' | translate}}
            </small>
            <small *ngIf="getPhoneNumber.errors?.pattern" class="text-danger">
              {{'employees.small_143' | translate}}
            </small>
          </div>
 
          <!-- Technologies -->
          <input type="text" id="Technologies" class="form-control " placeholder="{{'employees.placeholder_150' | translate}}"
            aria-describedby="PhoneHelpBlock" formControlName="technologyValidator"
            [class.is-invalid]="getTechnology.invalid && getTechnology.touched">
          <small class="form-text text-muted mb-4">
            {{'employees.small_154' | translate}}
          </small>
          <div *ngIf="getTechnology.invalid && (getTechnology.touched || getTechnology.dirty)">
            <small *ngIf="getTechnology.errors?.required" class="text-danger">
              {{'employees.small_158' | translate}}
            </small>
          </div>

          <!-- Add Employee Button -->
          <button type="button" class="btn btn-warning" [disabled]="addEmployeeForm.invalid" id="modalBtn"
            (click)=addEmployee() data-dismiss="modal">ADD</button>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Employee Modal -->
<div class="modal fade" id="editEmployee" tabindex="-1" role="dialog" aria-labelledby="editEmployeeLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="modalHeader">
        <h5 class="modal-title">{{'employees.h5-180' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="text-center border p-5" [formGroup]="editEmployeeForm">


          <div class="form-row mb-4">
            <div class="col">
              <!-- First name -->
              <input type="text" id="editFirstName" [value]=empDetails.getFirstName() disabled="disabled"
                class="form-control" placeholder="{{'employees.placeholder_191'|translate}}" formControlName="editFirstNameValidator"
                [class.is-invalid]="getEditFirstName.invalid && getEditFirstName.touched">
              <small class="form-text text-muted ">
                {{'employees.small_196' | translate}}
              </small>
              <div *ngIf="getEditFirstName.invalid && (getEditFirstName.touched || getEditFirstName.dirty)">
                <small *ngIf="getEditFirstName.errors?.required" class="text-danger">
                  {{'employees.small_200' | translate}}
                </small>
                <small *ngIf="getEditFirstName.errors?.minlength" class="text-danger">
                  {{'employees.small_203' | translate}}
                </small>
                <small *ngIf="getEditFirstName.errors?.pattern" class="text-danger">
                  {{'Employee.small_206' | translate}}
                </small>
              </div>
            </div>
            <div class="col">
              <!-- Last name -->
              <input type="text" id="editLastName" [value]=empDetails.getLastName() disabled="disabled"
                class="form-control" placeholder="{{'employees.placeholder_211'| translate}}" formControlName="editLastNameValidator"
                [class.is-invalid]="getEditLastName.invalid && getEditLastName.touched">
              <small class="form-text text-muted ">
                {{'employees.small_215' | translate}}
              </small>
              <div *ngIf="getEditLastName.invalid && (getEditLastName.touched || getEditLastName.dirty)">
                <small *ngIf="getEditLastName.errors?.required" class="text-danger">
                  {{'employees.small_219' | translate}}
                </small>
                <small *ngIf="getEditLastName.errors?.minlength" class="text-danger">
                  {{'employees.small_222' | translate}}
                </small>
                <small *ngIf="getEditLastName.errors?.pattern" class="text-danger">
                  {{'employees.small_225' | translate}}
                </small>
              </div>
            </div>
          </div>

          <!-- E-mail -->
          <input type="email" id="editEmail" [value]=empDetails.getEmail() class="form-control " placeholder="E-mail"
            required formControlName="editEmailValidator"
            [class.is-invalid]="getEditEmail.invalid && getEditEmail.touched">
          <small class="form-text text-muted mb-4">
            {{'employees.small_238' | translate}}
          </small>
          <div *ngIf="getEditEmail.invalid && (getEditEmail.touched || getEditEmail.dirty)">
            <small *ngIf="getEditEmail.errors?.required" class="text-danger">
              {{'employees.small_261' | translate}}
            </small>
            <small *ngIf="getEditEmail.errors?.pattern" class="text-danger">
              Email must be of required pattern (abc0-9@xyz.com)
            </small>
          </div>

          <div class="form-row mb-4">
            <div class="col">
              <!-- ROLE -->
              <input type="text" id="editDesignation" [value]=empDetails.getDesignation() class="form-control "
                placeholder="{{'employees.placeholder_252'| translate}}" required formControlName="editDesignationValidator"
                [class.is-invalid]="getEditDesignation.invalid && getEditDesignation.touched">
              <small class="form-text text-muted ">
                {{'employees.small_257' | translate}}
              </small>
              <div *ngIf="getEditDesignation.invalid && (getEditDesignation.touched || getEditDesignation.dirty)">
                <small *ngIf="getEditDesignation.errors?.required" class="text-danger">
                  {{'employees.small_261' | translate}}
                </small>
                <small *ngIf="getEditDesignation.errors?.pattern" class="text-danger">
                  {{'employees.small_264' | translate}}
                </small>
              </div>
            </div>
            
            <div class="col">
              <!-- Phone number -->
              <input type="tel" id="editPhoneNumber" maxlength="10" [value]=empDetails.getPhoneNumber()
                class="form-control " placeholder="{{'employees.placeholder_270' | translate}}" aria-describedby="PhoneHelpBlock" required
                formControlName="editPhoneNumberValidator"
                [class.is-invalid]="getEditPhoneNumber.invalid && getEditPhoneNumber.touched">
              <small class="form-text text-muted ">
                {{'employees.small_276' | translate}}
              </small>
              <div *ngIf="getEditPhoneNumber.invalid && (getEditPhoneNumber.touched || getEditPhoneNumber.dirty)">
                <small *ngIf="getEditPhoneNumber.errors?.required" class="text-danger">
                  {{'employees.small_280' | translate}}
                </small>
                <small *ngIf="getEditPhoneNumber.errors?.minlength" class="text-danger">
                  {{'employees.small_283' | translate}}
                </small>
                <small *ngIf="getEditPhoneNumber.errors?.pattern" class="text-danger">
                  {{'employees.small_286' | translate}}
                </small>

              </div>
            </div>
          </div>

          <!-- Technologies -->
          <input type="text" id="editTechnologies" [value]=empDetails.getTechnologies() class="form-control "
            placeholder="{{'employees.placeholder_293' | translate}}" aria-describedby="PhoneHelpBlock" required
            formControlName="editTechnologyValidator"
            [class.is-invalid]="getEditTechnology.invalid && getEditTechnology.touched">
          <small class="form-text text-muted mb-4">
            {{'employees.small_298' | translate}}
          </small>
          <div *ngIf="getEditTechnology.invalid && (getEditTechnology.touched || getEditTechnology.dirty)">
            <small *ngIf="getEditTechnology.errors?.required" class="text-danger">
              {{'employees.small_302' | translate}}
            </small>
          </div>
          <button type="button" class="btn btn-warning" id="modalBtn" (click)="editEmployees()" data-dismiss="modal"
            data-toggle="modal" data-target="#updateModal">UPDATE</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Success Adding Employee Modal -->
<div id="successModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-confirm" id="successConfirmModal">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box" id="successIcon">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <h4 class="modal-title">Awesome!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Employee has been added successfully.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-block" id="successButton" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Success Updated Employee Modal -->
<div id="successModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-confirm" id="successConfirmModal">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box" id="successIcon">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <h4 class="modal-title">Awesome!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Employee's details have been updated successfully.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-block" id="successButton" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div id="deleteConfirmationModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-confirm" id="deleteModal">
    <div class="modal-content" id="deleteModalContent">

      <div class="modal-header" id="deleteModalHeader">
        <div class="icon-box" id="deleteIcon">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="modal-title">
          <h4>Are you sure?</h4>
        </div>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete these records? This process cannot be undone.</p>
      </div>
      <div class="modal-footer" id="deleteModalFooter">
        <button type="button" class="btn btn-info" data-dismiss="modal" id="deleteBtnInfo">Cancel</button>
        <button type="button" class="btn btn-danger" id="deleteBtnDanger" data-dismiss="modal"
          (click)=delEmployee()>Delete</button>
      </div>
    </div>
  </div>
</div>
