<!-- <app-nav-bar></app-nav-bar>
<div id="mySidenav" class="sidenav " style="z-index: 3; position: absolute; margin-top: 80px;">
    <a routerLink="/viewProjects" id="projects">Projects</a>
    <a routerLink="/employees" id="employees">Employee</a>
    <a routerLink="/calendar" id="reports">TO-DO</a>
  </div>

<div class="container" style="position: absolute;left: 0;min-width: 100%;margin-top: 70px;">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
 -->
 <app-login></app-login>