<div class="container-fluid">
  <div class="row">
    <div class="card" *ngFor="let users of userArray">
      <div class="additional">
        <a routerLink="/projectDetails" (click)=sendProjectDetail(users)>
          <div class="user-card">
            <div class="level center">
              {{users.priority}}
            </div>
            <div class="points center">
              {{users.manager}}
            </div>
          </div>
          <div class="more-info">
            <h1 id="sendClientName">{{users.clientName}}</h1>
            <div class="info-head">
              <span>{{users.startDate}}</span>
              <span>{{users.endDate}}</span>
            </div>
            <div class="info-head">
              <span>{{users.technologies}}</span>
              <span>{{users.city}} {{users.country}}</span>
            </div>
            <div class="stats">
              <div>
                <div class="title">{{'view-proj.div_28'| translate}}</div>
                <i class="fa fa-clock-o"></i>
                <div class="value">{{Hours}}</div>
              </div>
              <div>
                <div class="title">{{'view-proj.div_33' | translate}}</div>
                <i class="fa fa-group"></i>
                <div class="value">{{Pals}}</div>
              </div>
              <div>
                <div class="title">{{'view-proj.div_38' | translate}}</div>
                <i class="fa fa-coffee"></i>
                <div class="value infinity">∞</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="general">
        <h1>{{users.projectName}}</h1>
        <br>
        <p class="general">
          <I>{{users.projectDescription}}</I>
        </p>
        <span class="more">{{'view-proj.span-51' | translate}}</span>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3" style="position: absolute;z-index: 3;">
  <div class="col">
    <button class="btn btn-light btn-lg" id="projectModBtn" data-toggle="modal"
      data-target="#createProject">{{'view-proj.button_60' |translate}}</button>
    <button class="btn btn-light btn-lg" id="projectModBtn" style="margin-top: 10%;" data-toggle="modal"
      data-target="#editProject">{{'view-proj.button_62' |translate}}</button>
    <button class="btn btn-light btn-lg" id="projectModBtn" style="margin-top: 15%;" data-toggle="modal"
      data-target="#deleteProject">{{'view-proj.button_64' |translate}}</button>
  </div>
  <div>
    <img src="/assets/manager.png" alt="IMAGE" id="projectImg">
  </div>
</div>

<!-- Edit Project Modal -->
<div class="modal fade" id="editProject" tabindex="-1" role="dialog" aria-labelledby="editProjectLabel"
  aria-hidden="true" style="margin-top: 50px;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="editProjectModalBody">
      <form>
        <div class="modal-body">

          <!-- Search form -->
          <div class="row">
            <div class="col-md-10">
              <input id="searchProject" class="form-control form-control-lg" type="text"
                placeholder="{{'view-proj.placeholder_82-86' | translate}}" aria-label="Search" style="width: 100%; border-color: black;
                border-radius: 50px;" (input)=search()>
            </div>
            <div class="col-md-2">
              <button class="btn btn-outline-danger btn-sm" id="closeEditModal" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
        <ul *ngFor="let search of searchdata">
          <li><button (click)=editDetails() id="projectButton" value="{{search}}" class="btn btn-sm btn-dark"
              data-toggle="modal" data-target="#updateProject" data-dismiss="modal" style=" background-color: rgb(80, 79, 79);
              border-color: rgb(80, 79, 79);">{{search}}</button></li>
        </ul>
      </form>
    </div>
  </div>
</div>

<!-- Delete Project Modal -->
<div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="deleteProjectLabel"
  aria-hidden="true" style="margin-top: 250px;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="editProjectModalBody">
      <div class="modal-body">

        <!-- Delete form -->
        <form>
          <div class="row">
            <div class="col-md-10">
              <input class="form-control form-control-lg" type="text"
                placeholder="{{'view-proj.placeholder_111'| translate}}" aria-label="Search" style="width: 100%; border-color: black;
                    border-radius: 50px;">
            </div>
            <div class="col-md-2">
              <button class="btn btn-outline-danger btn-sm" id="closeEditModal" data-dismiss="modal" data-toggle="modal"
                data-target="#deleteConfirmationModal">{{'view-proj.button_121'}}</button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Create Project Modal -->
<div class="modal fade" id="createProject" tabindex="-1" role="dialog" aria-labelledby="createProjectLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" id="modalHeader">
        <h3>{{'view-proj.h3-134' |translate}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="text-center border p-5" [formGroup]="createProjectForm">
          <div class="form-row mb-2">
            <div class="col">
 
              <!-- Client name -->
              <input type="text" id="clientName" class="form-control"
                placeholder="{{'view-proj.placeholder_146' |translate}}" formControlName="clientNameValidator"
                [class.is-invalid]="getClientName.invalid && getClientName.touched">
              <small class="form-text text-muted mb-4">
                {{'view-proj.small_150' | translate}}
              </small>
              <div *ngIf="getClientName.invalid && (getClientName.touched || getClientName.dirty)">
                <small *ngIf="getClientName.errors?.required" class="text-danger">
                  {{'view-proj.small_154' | translate}}
                </small>
                <small *ngIf="getClientName.errors?.minlength" class="text-danger">
                  {{'view-proj.small_157' | translate}}
                </small>
              </div>
            </div>

            <div class="col">
              <!-- Project name -->
              <input type="text" id="projectName" class="form-control"
                placeholder="{{'view-proj.placeholder_164' | translate}}" formControlName="projectNameValidator"
                [class.is-invalid]="getProjectName.invalid && getProjectName.touched">
              <small class="form-text text-muted mb-4">
                {{'view-proj.small_168' | translate}}
              </small>
              <div *ngIf="getProjectName.invalid && (getProjectName.touched || getProjectName.dirtty)">
                <small *ngIf="getProjectName.errors?.required" class="text-danger">
                  {{'view-proj.small_172' | translate}}
                </small>
                <small *ngIf="getProjectName.errors?.minlength" class="text-danger">
                  {{'view-proj.small_175' | translate}}
                </small>
              </div>
            </div>
            <div class="col">

              <!-- Technologies -->
              <input type="text" id="projectTech" class="form-control mb-2"
                placeholder="{{'view-proj.placeholder_182' | translate}}" formControlName="technologiesValidator"
                [class.is-invalid]="getTechnologies.invalid && getTechnologies.touched">
              <small class="form-text text-muted mb-4">
                {{'view-proj.small_186' | translate}}
              </small>
              <div *ngIf="getTechnologies.invalid && (getTechnologies.touched || getTechnologies.dirtty)">
                <small *ngIf="getTechnologies.errors?.required" class="text-danger">
                  {{'view-proj.small_190' | translate}}
                </small>
              </div>
            </div>
          </div>

          <div class="form-row mb-2">
            <div class="col">
              <!-- Start Date -->
              <input type="date" id="projectStartdate" class="form-control"
                placeholder="{{'view-proj.placeholder_199' | translate}}" formControlName="startDateValidator"
                [class.is-invalid]="getStartDate.invalid && getStartDate.touched">
              <small class="form-text text-muted mb-4">
                {{'view-proj.small_202' | translate}}
              </small>
              <div *ngIf="getStartDate.invalid && (getStartDate.touched || getStartDate.dirtty)">
                <small *ngIf="getStartDate.errors?.required" class="text-danger">
                  {{'view-proj.small_206' | translate}}
                </small>
              </div>
            </div>
 
            <div class="col">
              <!-- End Date -->
              <input type="date" id="projectEndDate" class="form-control"
                placeholder="{{'view-proj.placeholder_212' | translate}}" formControlName="endDateValidator"
                [class.is-invalid]="getEndDate.invalid && getEndDate.touched" (blur)=dateValidate()>
              <small class="form-text text-muted mb-4">
                {{'view-proj.small_216' | translate}}
              </small>
              <div *ngIf="getEndDate.invalid && (getEndDate.touched || getEndDate.dirtty)">
                <small *ngIf="getEndDate.errors?.required" class="text-danger">
                  {{'view-proj.small_220' | translate}}
                </small>
              </div>
            </div>

            <div class="col">
              <!-- Priority level -->

              <!-- <input type="text" id="projectPriorityLevel" class="form-control" placeholder="HIGH, Medium, low"
                formControlName="priorityLevelValidator"
                [class.is-invalid]="getPriorityLevel.invalid && getPriorityLevel.touched"> -->

              <select class="browser-default custom-select" id="projectPriorityLevel">
                <option selected>SELECT</option>
                <option value="HIGH">HIGH</option>
                <option value="MEDIUM">MEDIUM</option>
                <option value="LOW">LOW</option>
              </select>
              <small class="form-text text-muted mb-4">
                {{'view-proj.small_231' | translate}}
              </small>
            </div>
          </div>

          <div class="form-row mb-2">
            <div class="col">
              <!-- City -->
              <input type="text" id="projectCity" class="form-control"
                placeholder="{{'view-proj.placeholder_246' | translate}}" formControlName="cityValidator"
                [class.is-invalid]="getCity.invalid && getCity.touched">
              <small class="form-text text-muted mb-4">
                {{'view-proj.small_249' | translate}}
              </small>
              <div *ngIf="getCity.invalid && (getCity.touched || getCity.dirtty)">
                <small *ngIf="getCity.errors?.required" class="text-danger">
                  {{'view-proj.small_253' | translate}}
                </small>
                <small *ngIf="getCity.errors?.minlength" class="text-danger">
                  {{'view-proj.small_256' | translate}}
                </small>
                <small *ngIf="getCity.errors?.pattern" class="text-danger">
                  {{'view-proj.small_259' | translate}}
                </small>
              </div>
            </div>

            <div class="col">
              <!-- Country -->
              <input type="text" id="projectCountry" class="form-control"
                placeholder="{{'view-proj.placeholder_265'| translate}}" formControlName="countryValidator"
                [class.is-invalid]="getCountry.invalid && getCountry.touched">
              <small class="form-text text-muted mb-4">
                {{'view-proj.small_268'| translate}}
              </small>
              <div *ngIf="getCountry.invalid && (getCountry.touched || getCountry.dirtty)">
                <small *ngIf="getCountry.errors?.required" class="text-danger">
                  {{'view-proj.small_272'| translate}}
                </small>
                <small *ngIf="getCountry.errors?.minlength" class="text-danger">
                  {{'view-proj.small_275' | translate}}
                </small>
                <small *ngIf="getCountry.errors?.pattern" class="text-danger">
                  {{'view-proj.small_278' | translate}}
                </small>
              </div>
            </div>
          </div>

          <!-- Project Description -->
          <div class="col">
            <textarea class="form-control mb-2" placeholder="{{'view-proj.placeholder_291-1'| translate}}"
              id="projectDescription" formControlName="projectDescriptionValidator"
              [class.is-invalid]="getProjectDescription.invalid && getProjectDescription.touched"></textarea>
            <small class="form-text text-muted mb-4 ">
              {{'view-proj.small_295-1' | translate}}
            </small>
            <div
              *ngIf="getProjectDescription.invalid && (getProjectDescription.touched || getProjectDescription.dirtty)">
              <small *ngIf="getProjectDescription.errors?.required" class="text-danger">
                {{'view-proj.small_300-1' | translate}}
              </small>
              <small *ngIf="getProjectDescription.errors?.minlength" class="text-danger">
                {{'view-proj.small_303-1' | translate}}
              </small>
            </div>
          </div>

          <!-- Create Project -->
          <div class="alert alert-danger" role="alert" *ngIf="temp==1" style="width: 100%;">
            {{'view-proj.div_327' | translate}}
          </div>
          <button type="button" [disabled]="createProjectForm.invalid" class="btn btn-sm" id="editProjectBtn"
            data-dismiss="modal" (click)=addProject() data-toggle="modal" data-target="#successModal">Create
            Project</button>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit and Update Project Modal -->
<div class="modal" id="updateProject" tabindex="-1" role="dialog" aria-labelledby="updateProjectLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" id="modalHeader">
        <h3>{{'view-proj.h3-345' | translate}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="text-center border p-5" [formGroup]="editProjectForm">


          <div class="form-row mb-2">
            <div class="col">
              <!-- Client name -->
              <input type="text" id="clientName1" [value]=projectData.clientName class="form-control"
                placeholder="Cannot edit this field" disabled>
              <small class="form-text text-muted mb-4">
                {{'view-proj.small_359' | translate}}
              </small>
            </div>

            <div class="col">
              <!-- Project name -->
              <input type="text" id="projectName1" [value]=projectData.projectName class="form-control"
                placeholder="{{'view-proj.placeholder_364-351' | translate}}" formControlName="editProjectNameValidator"
                [class.is-invalid]="editGetProjectName.invalid && editGetProjectName.touched">
              <small class="form-text text-muted mb-2">
                {{'view-proj.small_368' | translate}}
              </small>
              <div *ngIf="editGetProjectName.invalid && (editGetProjectName.touched || editGetProjectName.dirtty)">
                <small *ngIf="editGetProjectName.errors?.required" class="text-danger">
                  {{'view-proj.small_372' | translate}}
                </small>
                <small *ngIf="editGetProjectName.errors?.minlength" class="text-danger">
                  {{'view-proj.small_375' | translate}}
                </small>
              </div>
            </div>
 
            <div class="col">
              <!-- Technologies -->
              <input type="text" id="projectTech1" [value]=projectData.technologies class="form-control mb-2"
                placeholder="{{'view-proj.placeholder_381-368' | translate}}" formControlName="editTechnologyValidator"
                [class.is-invalid]="editGetTechnology.invalid && editGetTechnology.touched">
              <small class="form-text text-muted mb-4">
                {{'view-proj.small_385' | translate}}
              </small>
              <div *ngIf="editGetTechnology.invalid && (editGetTechnology.touched || editGetTechnology.dirtty)">
                <small *ngIf="editGetTechnology.errors?.required" class="text-danger">
                  {{'view-proj.' | translate}}
                </small>
              </div>
            </div>
          </div>

          <div class="form-row mb-2">
            <div class="col">
              <!-- Start Date -->
              <input type="date" id="projectStartdate1" [value]=projectData.startDate class="form-control"
                placeholder="Cannot edit thid field" disabled>
              <small class="form-text text-muted mb-2">
                {{'view-proj.small_400-386' | translate}}
              </small>
            </div>

            <div class="col">
              <!-- End Date -->
              <input type="date" id="projectEndDate1" [value]=projectData.endDate class="form-control"
                placeholder="{{'placeholder_405-392'}}" formControlName="editEndDateValidator"
                [class.is-invalid]="editGetEndDate.invalid && editGetEndDate.touched">
              <small class="form-text text-muted mb-2">
                {{'view-proj.small_409-395' | translate}}
              </small>
              <div *ngIf="editGetEndDate.invalid && (editGetEndDate.touched || editGetEndDate.dirtty)">
                <small *ngIf="editGetEndDate.errors?.required" class="text-danger">
                  {{'view-proj.small_413-399' | translate}}
                </small>
              </div>
            </div>

            <div class="col">
              <!-- Priority level -->

              <!-- <input type="text" id="projectPriorityLevel1" [value]=projectData.priority class="form-control"
                placeholder="HIGH, Medium, low" formControlName="editPriorityValidator"
                [class.is-invalid]="editGetPriority.invalid && editGetPriority.touched"> -->

              <select class="browser-default custom-select" id="projectPriorityLevel1" [value]="projectData.priority">
                <option selected>SELECT</option>
                <option value="HIGH">HIGH</option>
                <option value="MEDIUM">MEDIUM</option>
                <option value="LOW">LOW</option>
              </select>
              <small class="form-text text-muted mb-2">
                {{'view_proj.small_423-409' | translate}}
              </small>
            </div>
          </div>

          <div class="form-row mb-2">
            <div class="col">
              <!-- City -->
              <input type="text" id="projectCity1" [value]=projectData.city class="form-control"
                placeholder="{{'view-proj.placeholder_438-424'| translate}}" formControlName="editCityValidator"
                [class.is-invalid]="editGetCity.invalid && editGetCity.touched">
              <small class="form-text text-muted mb-2">
                {{'view-proj.small_441-427' | translate}}
              </small>
              <div *ngIf="editGetCity.invalid && (editGetCity.touched || editGetCity.dirtty)">
                <small *ngIf="editGetCity.errors?.required" class="text-danger">
                  {{'view-proj.small_445-431'| translate}}
                </small>
                <small *ngIf="editGetCity.errors?.minlength" class="text-danger">
                  {{'view-proj.small_448-434' | translate}}
                </small>
              </div>
            </div>

            <div class="col">
              <!-- Country -->
              <input type="text" id="projectCountry1" [value]=projectData.country class="form-control"
                placeholder="{{'view-proj.placeholder_454-441' | translate}}" formControlName="editCountryValidator"
                [class.is-invalid]="editGetCountry.invalid && editGetCountry.touched">
              <small class="form-text text-muted mb-2">
                {{'view-proj.small_458-444' | translate}}
              </small>
              <div *ngIf="editGetCountry.invalid && (editGetCountry.touched || editGetCountry.dirtty)">
                <small *ngIf="editGetCountry.errors?.required" class="text-danger">
                  {{'view-proj.small_462-448' | translate}}
                </small>
                <small *ngIf="editGetCountry.errors?.minlength" class="text-danger">
                  {{'view-proj.small_465-451' | translate}}
                </small>
              </div>
            </div>
          </div>

          <!-- Project Description -->
          <div class="col">
            <textarea type="text" id="editProjectDescription" class="form-control mb-2"
              [value]=projectData.projectDescription placeholder="{{'view-proj.placeholder_462-1' | translate}}"
              formControlName="editProjectDescriptionValidator"
              [class.is-invalid]="getEditProjectDescription.invalid && getEditProjectDescription.touched"></textarea>
            <small class="form-text text-muted mb-4 ">
              {{'view_proj.small_466-1' | translate}}
            </small>
            <div
              *ngIf="getEditProjectDescription.invalid && (getEditProjectDescription.touched || getEditProjectDescription.dirtty)">
              <small *ngIf="getEditProjectDescription.errors?.required" class="text-danger">
                {{'view-proj.small_471-1' | translate}}
              </small>
              <small *ngIf="getEditProjectDescription.errors?.minlength" class="text-danger">
                {{'view-proj.small_474-1' | translate}}.
              </small>
            </div>
          </div>

          <!-- update Project -->
          <button type="button" class="btn btn-sm" id="editProjectBtn" data-dismiss="modal" (click)=updateProject()
            data-toggle="modal" data-target="#successUpdateModal">{{'view-proj.button_481-1'}}</button>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- Successfully created a project Modal -->
<div id="successModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-confirm" id="successConfirmModal">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box" id="successIcon">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <h4 class="modal-title"> {{'view-proj.h4-527'|translate}}</h4>
      </div>
      <div class="modal-body">
        <p class="text-center"> {{'view-proj.p_530' |translate}}.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-block" id="successButton" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Successfully updated a project Modal -->
<div id="successUpdateModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-confirm" id="successConfirmModal">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box" id="successIcon">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <h4 class="modal-title"> {{'view-proj.h4-547' |translate}}</h4>
      </div>
      <div class="modal-body">
        <p class="text-center"> {{'view-proj.p_550' |translate}}.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-block" id="successButton" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div id="deleteConfirmationModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-confirm" id="deleteModal">
    <div class="modal-content" id="deleteModalContent">
      <div class="modal-header" id="deleteModalHeader">
        <div class="icon-box" id="deleteIcon">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="modal-title">
          <h4>{{'view-proj.h4-569-540'| translate}}</h4>
        </div>
      </div>
      <div class="modal-body">
        <p>{{'view-proj.p_574-545' | translate}}</p>
      </div>
      <div class="modal-footer" id="deleteModalFooter">
        <button type="button" class="btn btn-info" data-dismiss="modal"
          id="deleteBtnInfo">{{'view-proj.button_577-548'}}</button>
        <button type="button" class="btn btn-danger" id="deleteBtnDanger">{{'view-proj.button_578-549'}}</button>
      </div>
    </div>
    <div class="modal-body">
      <p>Do you really want to delete these records? This process cannot be undone.</p>
    </div>
    <div class="modal-footer" id="deleteModalFooter">
      <button type="button" class="btn btn-info" data-dismiss="modal" id="deleteBtnInfo">Cancel</button>
      <button type="button" class="btn btn-danger" (click)=delProject() data-dismiss="modal"
        id="deleteBtnDanger">Delete</button>
      <button type="button" class="btn btn-danger" id="deleteBtnDanger" (click)=delProject()
        data-dismiss="modal">Delete</button>
    </div>
  </div>
</div>