<div class="row" id="projectTemplate">
    <div class="col-md-8">
        <h2>{{projectDetail.projectName}} <span class="badge badge-warning">{{projectDetail.priority}}</span> </h2>
        <h5>{{projectDetail.clientName}} <small>, {{projectDetail.city}}, {{projectDetail.country}}</small></h5>
        <small><strong>Description</strong>- {{projectDetail.projectDescription}}</small>
    </div>
    <div class="col-md-4">
        <br><br>
        <h5>{{projectDetail.technologies}}</h5>
        <small><strong> Start Date</strong> - {{projectDetail.startDate}}</small><br>
        <small><strong> End Date</strong> - {{projectDetail.endDate}}</small>

    </div>

</div>
<div class="row" id="projectMembersAndTasks">
    <div class="col-md-12">
        <div class="well">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-tasks-tab" data-toggle="pill" href="#pills-tasks" role="tab"
                        aria-controls="pills-tasks" aria-selected="true">TASKS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-members-tab" data-toggle="pill" href="#pills-members" role="tab"
                        aria-controls="pills-members" aria-selected="false">MEMBERS</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-tasks" role="tabpanel" aria-labelledby="pills-home-tab">
                <p
                    style="font-size: 36px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    Tasks
                    <button class="btn" data-toggle="modal" data-target="#newtaskModal">
                        <i class="fas fa-plus-circle" title="Add a new task" id="addTaskIcon"></i></button></p>
                <div class="row">

                    <div class="container-fluid">
                        <div id="maindiv">

                            <div class="column" *ngFor="let task of taskArray; let i = index">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <h4 id="namee">{{task.projectName}} </h4>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="custom-controls-stacked d-block my-3" title="Submit">
                                                    <label class="custom-control material-checkbox">
                                                        <input type="checkbox" [disabled]="buttons[i]"
                                                            class="material-control-input" (click)="buttons[i]=true"
                                                            title="Submit task">
                                                        <span class="material-control-indicator"></span>

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <p id="proDetTaskOwner">{{task.taskOwner}}</p>
                                        <p class="title">{{task.taskName}}</p>
                                        <p>Description : {{task.taskDetails}}</p>
                                        <p>{{task.startDate}} {{task.endDate}}
                                        </p>

                                        <small class="form-text text-muted mb-4 ">
                                            <i>**Click checkbox to submit task</i>
                                            <button class="btn btn-dark btn-sm pull-right" id="taskDeleteBtn"
                                                data-toggle="modal" data-target="#deleteConfirmationModal"
                                                (click)=setDetail(task)>Delete</button>
                                            <button class="btn btn-warning btn-sm pull-right" [disabled]="buttons[i]"
                                                id="taskEditbtn" style="margin-right: 10px;" data-toggle="modal"
                                                data-target="#editModal" (click)=updateTaskObj(task)>Edit</button>
                                        </small>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Edit task modal -->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog">

                    <div>
                        <div class="modal-dialog">
                            <div class="modal-content">


                                <div class="modal-header" id="modalHeader">
                                    <h4 class="modal-title">TASK DETAILS</h4>

                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>




                                <div class="modal-body">
                                    <form class="text-center border  p-5" [formGroup]="editTaskForm">
                                        <div class="row mb-4">
                                            <div class="col">
                                                <input type="text" class="form-control" placeholder="Project title"
                                                    disabled [value]=taskDetails.getProjectTitle()>
                                                <small class="form-text text-muted ">
                                                    Project Title
                                                </small>
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control" placeholder="Task title"
                                                    [value]=taskDetails.getTaskTitle() disabled>
                                                <small class="form-text text-muted ">
                                                    Task Title
                                                </small>
                                            </div>
                                        </div>


                                        <input type="text" id="editTaskOwner" class="form-control"
                                            placeholder="Task Owner" [value]=taskDetails.getTaskOwner()
                                            formControlName="editTaskOwnerValidator"
                                            [class.is-invalid]="editGetTaskOwner.invalid && editGetTaskOwner.touched">
                                        <small class="form-text text-muted mb-1">
                                            Task Owners
                                        </small>
                                        <div
                                            *ngIf="editGetTaskOwner.invalid && (editGetTaskOwner.touched || editGetTaskOwner.dirtty)">
                                            <small *ngIf="editGetTaskOwner.errors?.required" class="text-danger">
                                                Task Owner Is Required
                                            </small>
                                            <small *ngIf="editGetTaskOwner.errors?.pattern" class="text-danger">
                                                Cant Contain Number
                                            </small>
                                            <small *ngIf="editGetTaskOwner.errors?.minlength" class="text-danger">
                                                Task Owner Must be Min length of 3 Characters
                                            </small>
                                        </div>

                                        <textarea class="form-control" style="margin-top: 10%;" rows="3"
                                            placeholder="Task Details" [value]=taskDetails.getTaskDescription()
                                            formControlName="editTaskDescriptionValidator"
                                            [class.is-invalid]="editGetTaskDescription.invalid && editGetTaskDescription.touched"></textarea>
                                        <small class="form-text text-muted mb-1 ">
                                            Task Description
                                        </small>
                                        <div
                                            *ngIf="editGetTaskDescription.invalid && (editGetTaskDescription.touched || editGetTaskDescription.dirtty)">
                                            <small *ngIf="editGetTaskDescription.errors?.required" class="text-danger">
                                                Task Description Is Required
                                            </small>
                                            <small *ngIf="editGetTaskDescription.errors?.minlength" class="text-danger">
                                                Task Desc Must be Between 20 and 100 Characters
                                            </small>
                                        </div>



                                        <div class="form-row mb-4">

                                            <div class="col-md-6" style="margin-top: 10%;">
                                                <input type="date" class="form-control" id="editProjectStartdate"
                                                    placeholder="Start date" [value]=taskDetails.getStartDate()
                                                    disabled>
                                                <small class="form-text text-muted ">
                                                    Start Date
                                                </small>
                                            </div>
                                            <div class="col-md-6" style="margin-top: 10%;">
                                                <input type="date" class="form-control" id="editProjectEndDate"
                                                    (blur)=editDateValidator() [value]=taskDetails.getEnddate()
                                                    formControlName="editEndDateValidator"
                                                    [class.is-invalid]="getEditEndDate.invalid && getEditEndDate.touched">
                                                <small class="form-text text-muted ">
                                                    End Date
                                                </small>
                                                <div
                                                    *ngIf="getEditEndDate.invalid && (getEditEndDate.touched || getEditEndDate.dirtty)">
                                                    <small *ngIf="getEditEndDate.errors?.required" class="text-danger">
                                                        End Date Is Required
                                                    </small>
                                                </div>


                                                <div class="alert alert-danger" role="alert" *ngIf="temp==1"
                                                    style="width: 100%;">
                                                    End date cannot be same or less than Start date.
                                                </div>
                                            </div>
                                        </div>

                                        <button class="btn btn-warning btn-block" type="submit" data-dismiss="modal"
                                            id="assignTaskBtn" (click)=updateTaskConfirm() data-toggle="modal"
                                            data-target="#successUpdateModal">Update
                                            Task</button>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                <!-- New task modal -->
                <div class="modal fade" id="newtaskModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">


                            <div class="modal-header" id="modalHeader">
                                <h4 class="modal-title">TASK DETAILS</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body">
                                <form class="text-center border  p-5" [formGroup]="newTaskForm">
                                    <div class="row mb-4">


                                        <div class="col">
                                            <input type="text" id="projectTitle" class="form-control"
                                                placeholder="Project name" value="{{projectNameFromViewProject}}"
                                                disabled>
                                            <small class="form-text text-muted ">
                                                Project Title
                                            </small>
                                        </div>


                                        <div class="col">
                                            <input type="text" id="taskTitle" class="form-control"
                                                placeholder="Task name" formControlName="taskTitleValidator"
                                                [class.is-invalid]="getTaskTitle.invalid && getTaskTitle.touched">
                                            <small class="form-text text-muted ">
                                                Task Title
                                            </small>
                                            <div
                                                *ngIf="getTaskTitle.invalid && (getTaskTitle.touched || getTaskTitle.dirtty)">
                                                <small *ngIf="getTaskTitle.errors?.required" class="text-danger">
                                                    Task Title Is Required
                                                </small>
                                                <small *ngIf="getTaskTitle.errors?.minlength" class="text-danger">
                                                    Task Title Must be Min length of 4 Characters
                                                </small>
                                            </div>
                                        </div>
                                    </div>



                                    <input type="text" id="taskOwner" class="form-control" placeholder="Task Owner"
                                        formControlName="taskOwnerValidator"
                                        [class.is-invalid]="getTaskOwner.invalid && getTaskOwner.touched">
                                    <small class="form-text text-muted mb-1">
                                        Task Owners
                                    </small>
                                    <div *ngIf="getTaskOwner.invalid && (getTaskOwner.touched || getTaskOwner.dirtty)">
                                        <small *ngIf="getTaskOwner.errors?.required" class="text-danger">
                                            Task Owner Is Required
                                        </small>
                                        <small *ngIf="getTaskOwner.errors?.pattern" class="text-danger">
                                            Cant Contain Number
                                        </small>
                                        <small *ngIf="getTaskOwner.errors?.minlength" class="text-danger">
                                            Task Owner Must be Min length of 3 Characters
                                        </small>
                                    </div>


                                    <textarea class="form-control" style="margin-top: 10%;" rows="3"
                                        id="taskDescription" placeholder="Task Details"
                                        formControlName="taskDescriptionValidator"
                                        [class.is-invalid]="getTaskDescription.invalid && getTaskDescription.touched"></textarea>
                                    <small class="form-text text-muted mb-1 ">
                                        Task Description
                                    </small>
                                    <div
                                        *ngIf="getTaskDescription.invalid && (getTaskDescription.touched || getTaskDescription.dirtty)">
                                        <small *ngIf="getTaskDescription.errors?.required" class="text-danger">
                                            Task Description Is Required
                                        </small>
                                        <small *ngIf="getTaskDescription.errors?.minlength" class="text-danger">
                                            Task Desc Must be Between 20 and 100 Characters
                                        </small>
                                    </div>



                                    <div class="form-row mb-4">

                                        <div class="col-md-6">
                                            <input type="date" class="form-control" id="projectStartDate"
                                                style="margin-top: 10%;" placeholder="Start date"
                                                formControlName="startDateValidator"
                                                [class.is-invalid]="getStartDate.invalid && getStartDate.touched">
                                            <small class="form-text text-muted ">
                                                Start Date
                                            </small>
                                            <div
                                                *ngIf="getStartDate.invalid && (getStartDate.touched || getStartDate.dirtty)">
                                                <small *ngIf="getStartDate.errors?.required" class="text-danger">
                                                    Start Date Is Required
                                                </small>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <input type="date" class="form-control" id="projectEndDate"
                                                (blur)=dateValidate() style="margin-top: 10%;"
                                                formControlName="endDateValidator"
                                                [class.is-invalid]="getEndDate.invalid && getEndDate.touched">
                                            <small class="form-text text-muted ">
                                                End Date
                                            </small>
                                            <div
                                                *ngIf="getEndDate.invalid && (getEndDate.touched || getEndDate.dirtty)">
                                                <small *ngIf="getEndDate.errors?.required" class="text-danger">
                                                    End Date Is Required
                                                </small>
                                            </div>

                                        </div>
                                        <div class="alert alert-danger" role="alert" *ngIf="temp==1"
                                            style="width: 100%;">
                                            End date cannot be same or less than Start date.
                                        </div>
                                    </div>

                                    <button class="btn btn-warning btn-block" [disabled]="newTaskForm.invalid"
                                        type="submit" data-dismiss="modal" (click)=addNewTask()
                                        id="assignTaskBtn">Assign Task</button>
                                </form>

                            </div>

                        </div>

                    </div>
                </div>

                <!-- Delete Confirmation Modal -->
                <div id="deleteConfirmationModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-confirm" id="deleteModal">
                        <div class="modal-content" id="deleteModalContent">

                            <div class="modal-header" id="deleteModalHeader">
                                <div class="icon-box" id="deleteIcon">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                                <div class="modal-title">
                                    <h4>Are you sure?</h4>

                                </div>
                            </div>
                            <div class="modal-body">
                                <p>Do you really want to delete these records? This process cannot be undone.</p>
                            </div>
                            <div class="modal-footer" id="deleteModalFooter">
                                <button type="button" class="btn btn-info" data-dismiss="modal"
                                    id="deleteBtnInfo">Cancel</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteBtnDanger" (click)=deleteTaskFunc()>Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Successfully updated a project Modal -->
                <div id="successUpdateModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-confirm" id="successConfirmModal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="icon-box" id="successIcon">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                                <h4 class="modal-title">Awesome!</h4>
                            </div>
                            <div class="modal-body">
                                <p class="text-center">Successfully updated employee's detils.</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success btn-block" id="successButton"
                                    data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-members" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div>
                    <p
                        style="font-size: 36px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                        Members
                        <a class="btn" routerLink="/availableEmployees" (click)=getDetails(projectDetails)><i
                                class="fas fa-plus-circle" title="Add team members" id="addTaskIcon"></i></a></p>

                    <div class="employeeColumn" *ngFor="let user of userArray">
                        <div class="card">

                            <img src="/assets/avatar.png" alt="Jane">
                            <div class="container">
                                <h4>{{user.fullName}} </h4>
                                <p class="title">{{user.designation}}</p>
                                <p>Expertise : {{user.technologies}}</p>
                                <p>{{user.email}}</p>
                                <p>{{user.phoneNumber}}
                                    <button class="btn btn-sm btn-dark" id="delEmpBtn"
                                        (click)=unAssignProject(user)>Delete</button>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>