.app-top {
    margin: 0 0 3em;
  }
  
  .app-calendar {
    margin: 0 auto;
    max-width: 900px;
  }
  
  .tips {
    padding: 1em;
    ul {
      padding: 2em;
      list-style-type: none;
      
      li {
        color: black;
      }
    }
  }